
{% block body %}
<h1 style="text-align: center;" >Liste des Category</h1>
<h1 style="text-align: center;" ><a href="{{ path('app_add_Category') }}">Create Category</a></h1>

<table border="solid" style="width: 80%; margin: 20px auto; border: 1px solid #000;">
        <tr>
             <h1><th>Id </th></h1>
             <h1><th>Name </th></h1>
        </tr>
{% for Category in Categorys %}
       <tr>
             <td><h4>{{Category.id}}</h4></td>
             <td><h4>{{Category.name}}</h4></td>
             <td>
                <ul>
                    {% for b in Category.products %}
                         <li>{{ b.name }}</li>
                    {% endfor %}
                </ul>
             </td>
             <td>
                  <a href="{{ path('app_edit_Category',{id:Category.id}) }}">EDIT</a> | <a href="{{ path('app_delete_Category',{id:Category.id}) }}">DELETE</a> | <a href="{{ path('app_details_Category',{id:Category.id}) }}">SHOW</a>
             </td>
       </tr>
{% endfor %}
</table>

{% endblock %}


{# {{"nombre books : " ~ totalbooks }} 

{# <br>
{% set chaine = "Bonjour" %}
{% set chaine = "Bonjour yasssine" %}
{{ chaine }}
<br>
{% for i in range(0, 3) %}
{{ i }} <br>
{% endfor %}
<br>
{% for i in range(low=0, high=7, step=2) %}
{{ i }} <br>
{% endfor %} #}


{# <h1>Nom du service : {{name}}</h1> #}